.contact {font-family: Italic, sans-serif}
.mySlides {display: none}

body {
  background-color: rgb(98, 160, 221);
  color: #514B64;
  min-height: 100vh;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: Italic;
  font-size: 20px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.example2 .navbar-brand>img {
  padding: 7px 15px;
}

code {
  background: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin: 0 0.3rem;
}

#fb a:link, a:visited {
  color: rgb(56, 66, 211);
}
